[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.22.0"
SciPy = "==1.4.1"
scikit-learn = "==0.22.2"
Numba = "==0.48.0"
NetworkX = "==2.4"

[requires]
python_version = "3.8"
